.g1_wrapper {
    background-color: #33a531;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    width:100%;
    min-height:100%;
    position:absolute;
    text-align: center;
    
  }

  .g1_body {
    font-size: calc(10px + 2vmin);
    background-color: rgb(255, 255, 255);
    width:90vw;
    padding: 10vh 2vw;
    min-height:100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 0px 44px 4px rgba(0,0,0,1);
  }
  .g1_body_alt {
    font-size: calc(10px + 2vmin);
    background-color: rgb(255, 255, 255);
    width:90vw;
    padding: 10vh 0vw;
    min-height:100%;
    position:relative;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 0px 44px 4px rgba(0,0,0,1);
  }

  .img-box{
      min-height: 200px;
      min-width: 230px;
      padding: 13px;
      float: left;
      background-size: cover;
      background-position: center center;
  }

  .paper{
    box-shadow: 0px 42px 20px 0px rgba(0,0,0,1);
  }

  .g1-react-player{
    position: absolute;
    top: 0;
    left: 0;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

  }
  