.wrapper {
    background-color: #e9e8e8;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    width:100vw;
    min-height:100vh;
  }

  .body {
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    padding: 10vh 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-box{
      min-height: 200px;
      min-width: 230px;
      padding: 13px;
      float: left;
      background-size: cover;
      background-position: center center;
  }

  .paper{
    box-shadow: 0px 100px 100px;
  }

  .react-player{
    position: absolute;
    top: 0;
    left: 0;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  